<div class="AppSelectRemote">
  <AppSelect
    :options="options"
    :value="arriving"
    :hide-selected="hideSelected"
    @filter="filterRemote"
    @filter-abort="filterAbortRemote"
    @keyup="hideCurrentValue"
    @blur="showCurrentValue"
    @select="showCurrentValue"
    @input="goingOut($event)"
    v-bind="bind"
    :placeholder="placeholder"
  >
    <template
      v-if="component"
      v-slot:prepend="scope"
    >
      <QBtn
        :disable="!value"
        flat
        round
        icon="zoom_in"
        @click="previewOpen"
      />
        <QPopupProxy v-model="openPreview">
          <QList :class="{ 'uppercase': uppercase }">
            <component
              :is="component"
              v-bind="{ value: arriving ? arriving.__meta : {} }"
            />
          </QList>
        </QPopupProxy>
    </template>

    <template
      v-if="component"
      v-slot:option="scope"
    >
      <component
        :is="component"
        v-bind="{itemProps: scope.itemProps, itemEvents: scope.itemEvents, label: scope.opt.label, value: scope.opt.__meta}"
      />
    </template>

    <template v-slot:no-option>
      <QItem>
        <QItemSection class="text-grey">
          {{ noResults }}
        </QItemSection>
      </QItem>
    </template>

    <template
      v-if="widget || path"
      v-slot:append
    >
      <QIcon
        class="cursor-pointer"
        name="open_in_new"
        @click="widgetOpen"
      />
      <QDialog
        v-if="widget"
        v-model="openDialog"
        persistent
        :maximized="maximizedToggle"
        full-width
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <QCard
          class="AppSelectRemote__widget bg-white"
          style="overflow: hidden"
        >
          <QBar class="bg-primary shadow-1">
            <QSpace />

            <QBtn
              dense
              flat
              icon="crop_square"
              @click="maximizedToggle = !maximizedToggle"
            />
            <QBtn
              dense
              flat
              icon="close"
              v-close-popup
            />
          </QBar>

          <QCardSection style="padding: 0 16px">
            <SelectRemoteWidgetTable
              :value="value"
              :columns="columns"
              :visibleColumns="visibleColumns"
              :data="data"
              :search="widgetSearchPhrase"
              @confirm="widgetConfirm"
              @cancel="widgetCancel"
              @request="widgetRequest"
            />
            <SchemaTableWhere
              :primaryKey="keyValue"
              :displayKey="keyLabel"
              :domain="domain"
              :fields="fields"
              :value="widgetSearchPhrase"
              @input="widgetSearch"
            />
          </QCardSection>
        </QCard>
      </QDialog>
    </template>
  </AppSelect>
</div>
