.app-breadcrumb {
  display: block;
  padding: 0 5px 10px 5px;
  margin: 0;
  white-space: nowrap;

  > .app-breadcrumb__item {
    font-size: 0.8rem;
    color: #555;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.45);
    display: inline-block;
    margin: 0 4px 0 0;
    white-space: nowrap;

    &:after {
      content: ' / ';
    }

    &:last-child {
      &:after {
        content: '';
      }

      > .app-breadcrumb__item__a {
        color: $breadcrumb-item-last;
        cursor: default;
      }

      > .app-breadcrumb__item__a {
        cursor: pointer;
        text-decoration: none;
        color: $breadcrumb-item;
      }
    }
  }
}
