hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(220, 220, 220, 0.4) 0%, rgba(220, 220, 220, 0.8) 2%, #ddd 50%, rgba(220, 220, 220, 0.8) 98%, rgba(220, 220, 220, 0.4) 100%);

  &.light, &[light] {
    margin: 10px 0;
  }
}

a {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.q-br-a {
  border-radius: 4px;
}

.q-br-t {
  border-radius: 4px 4px 0 0;
}

.q-br-t {
  border-radius: 0 0 4px 4px;
}

.q-br-l {
  border-radius: 4px 0 0 4px;
}

.q-br-r {
  border-radius: 0 4px 4px 0;
}
