main.q-page {
  overflow-x: hidden !important;
}

.q-card, .q-table__container.fullscreen {
  background: #ffffff;
}

.bg-white {
  color: #353535;
}

.q-page-sticky {
  z-index: 1000;
}

.app-float-menu {
  border-radius: 0 0 4px 4px !important;
  border-top: 1px solid #ddd;
}

.q-tooltip, .q-menu {
  z-index: 10001;
}

.q-radio__label {
  font-size: 0.8rem;
}

.SchemaForm, .SchemaTable {
  .field {
    div[role="checkbox"] {
      padding: 8px 0 0 0;
    }

    .q-checkbox, .q-toggle {
      .q-checkbox__inner:not(.q-checkbox__inner--active):not(.q-checkbox__inner--truthy):not(.q-checkbox__inner--indet) {
        .q-checkbox__bg {
          border-color: #aaaaaa;
        }
      }
    }

    .q-select {
      .q-field__native, .q-field__prefix, .q-field__suffix {
        padding: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .q-btn, .q-btn-section {
      min-width: 0 !important;

      .q-btn__content {
        //& > div
        //  display: none

        & i.on-left {
          margin: 0
        }
      }
    }
  }
}

.uppercase {
  input[type="text"], select, textarea, .q-field__native > span, .q-chip__content > span, .q-item__label {
    text-transform: uppercase !important;
  }
}

.q-field__control-container.row.no-wrap.q-anchor--skip {
  overflow: hidden;
}

.border-less > .q-field__inner > .q-field__control:before {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.q-field__inner, .q-markup-table > .q-table > thead > tr > th {
  background-color: #fff;
}

.q-option-group {
  margin: 8px 0 0 0;
}

.q-field--readonly {
  opacity: 0.7;
}

.disabled, [disabled], .disabled *, [disabled] * {
  //cursor: auto !important;
  //user-select: all !important;
  //pointer-events: all !important;
}

.q-radio.disabled {
  opacity: 0.6 !important;
}

.q-field--outlined.q-field--disabled .q-field__control::before {
  border-style: dashed;
}

.q-page.q-layout-padding {
  padding-bottom: 0 !important;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  text-transform: none !important;
  color: #eeeeee;
}

/* Firefox 19+ */
::-moz-placeholder {
  text-transform: none !important;
  color: #eeeeee;
}

/* IE 10+ */
:-ms-input-placeholder {
  text-transform: none !important;
  color: #eeeeee;
}

/* Firefox 18- */
:-moz-placeholder {
  text-transform: none !important;
  color: #eeeeee;
}

* {
  outline: none !important;
}

.q-tree__icon {
  color: #808080 !important;
}

.desktop .q-notification {
  min-width: 340px;
}

.q-field__inner {
  background-color: transparent;
}

.q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container {
  padding-top: 0;
}

.q-select:not(.q-field--focused) .q-field__input.q-field__input--padding {
  display: none;
}

.SchemaTableWhere__component {
  .q-field--labeled.q-field--dense .q-field__native, .q-field--labeled.q-field--dense .q-field__prefix, .q-field--labeled.q-field--dense .q-field__suffix {
    padding-top: 2px;
  }
}
